.root-container {
  padding: 2em;
}

.root-content {
  display: flex;
}

.root-settings {
  display: flex;
  flex-direction: column;
  flex: 25%;
  text-align: center;
}

.root-game {
  display: flex;
  flex-direction: column;
  flex: 50%;
  text-align: center;
}

.root-stats {
  display: flex;
  flex-direction: column;
  flex: 25%;
  text-align: center;
}

.root-controls {
  display: flex;
}
